.emoji-container {
    height: 100px;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 5px;
}

.emoji {
    font-size: 32px;
    line-height: 1;
    display: inline-block;
    padding: 5px;
}

#crafted-popup {
    position: fixed;
    top: 80%; /* Modifié de 50% à 65% pour descendre le popup */
    left: 65%;
    transform: translate(-50%, -50%);
    min-width: 200px;
    z-index: 100;
}

.popup-content {
    padding: 10px;
}   