/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #1e1e1e;
    transition: background-color 0.5s, color 0.5s;
    color: #fff;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

  
#game-container {
    background: #1e1e1e;
    border-radius: 15px;
    width: 100%;
    max-width: 1500px;
    height: 100vh;
    padding: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
    animation: fadeIn 1s ease-in-out;
    display: flex;
    flex-direction: column;
    color: #cfcfcf;
    transition: background-color 0.5s, color 0.5s;
}

header h1 {
    font-size: 2rem; /* Augmenté pour plus d'impact */
    text-align: center;
    letter-spacing: 2px;
    padding-bottom: 10px;
    padding-top: 10px;
    background: linear-gradient(90deg, #4dd0e1, #00acc1, #ff7f00, #ff0000);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Rendre le texte transparent */
    animation: gradientShift 6s ease-in-out infinite; /* Animation du dégradé */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.3);
}

/* Animation pour déplacer le dégradé */
@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Footer */
footer p {
    text-align: center;
    font-size: 0.9rem;
    color: #aaa;
    margin-top: 20px;
}


#main-content {
  display: flex;
  width: 100%;
  height: calc(100vh - 100px); /* Ajuste la hauteur selon ton header/footer */
}















#resizer {
    width: 8px;
    background: linear-gradient(to bottom, #666, #333);
    cursor: ew-resize;
}

#resizer:hover {
    background: linear-gradient(to bottom, #888, #555);
}