/* Bouton Craft sans effet de voltage */
.voltage-button {
  position: relative;
  display: inline-block; /* Pour que le bouton soit en ligne avec le texte */
  right: 400px; /* Espacement entre le texte et le bouton */
  top: -30px;
}

.voltage-button button {
  color: white;
  background: #0D1127;
  padding: 10px 20px; /* Taille du bouton */
  border-radius: 8px; /* Bordures arrondies */
  border: 2px solid #dd7e2a; /* Bordure */
  font-size: 1rem; /* Taille du texte */
  line-height: 1em;
  letter-spacing: 0.075em;
  transition: background 0.3s; /* Animation légère sur le fond */
  cursor: pointer;
  position: relative;
}

.voltage-button button:hover {
  background: #0F1C53;
  color: #ffffff; /* Change la couleur du texte au survol */
}

.voltage-button button:active {
  transform: scale(0.95); /* Réduction légère au clic */
}
